* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  min-width: 380px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  -ms-grid-rows: (1fr)[1];
      grid-template-rows: repeat(1, 1fr);
  height: 10vh;
  background-color: #5a7a5a;
}

header {
  grid-column: span 12;
  background-color: lightgreen;
  padding: 1rem;
  color: blueviolet;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header h1 span.red {
  -webkit-animation: 1s linear 0.2s move_right;
          animation: 1s linear 0.2s move_right;
  text-shadow: 2px 2px 4px red, 2px 2px 4px brown, 2px 2px 4px brown, 2px 2px 4px brown, 2px 2px 4px brown, 2px 2px 4px brown;
}

header h1 span.blue {
  -webkit-animation: 1s linear 0.2s move_left;
          animation: 1s linear 0.2s move_left;
  text-shadow: 2px 2px 4px blue, 2px 2px 4px lightblue, 2px 2px 4px lightblue, 2px 2px 4px lightblue, 2px 2px 4px lightblue, 2px 2px 4px lightblue;
}

header h1 span.yellow {
  -webkit-animation: 1.6s ease-in 0.2s move_down;
          animation: 1.6s ease-in 0.2s move_down;
  text-shadow: 2px 2px 4px yellow, 2px 2px 4px gold, 2px 2px 4px gold, 2px 2px 4px gold, 2px 2px 4px gold, 2px 2px 4px gold;
}

@-webkit-keyframes move_right {
  from {
    -webkit-transform: translateX(-40vw) rotate(0);
            transform: translateX(-40vw) rotate(0);
  }
  to {
    -webkit-transform: translateX(0vw) rotate(720deg);
            transform: translateX(0vw) rotate(720deg);
  }
}

@keyframes move_right {
  from {
    -webkit-transform: translateX(-40vw) rotate(0);
            transform: translateX(-40vw) rotate(0);
  }
  to {
    -webkit-transform: translateX(0vw) rotate(720deg);
            transform: translateX(0vw) rotate(720deg);
  }
}

@-webkit-keyframes move_left {
  from {
    -webkit-transform: translateX(40vw) rotate(0deg);
            transform: translateX(40vw) rotate(0deg);
  }
  to {
    -webkit-transform: translateX(0vw) rotate(-720deg);
            transform: translateX(0vw) rotate(-720deg);
  }
}

@keyframes move_left {
  from {
    -webkit-transform: translateX(40vw) rotate(0deg);
            transform: translateX(40vw) rotate(0deg);
  }
  to {
    -webkit-transform: translateX(0vw) rotate(-720deg);
            transform: translateX(0vw) rotate(-720deg);
  }
}

@-webkit-keyframes move_down {
  from {
    -webkit-transform: translateY(-40vh);
            transform: translateY(-40vh);
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes move_down {
  from {
    -webkit-transform: translateY(-40vh);
            transform: translateY(-40vh);
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

nav {
  grid-column: span 12;
  background-color: mediumseagreen;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav button.vscomputer {
  font-weight: bolder;
  position: relative;
  padding-right: 20px;
}

nav button.vscomputer span {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  right: 5px;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

nav button.vscomputer .bg-red {
  background-color: red;
}

nav button {
  border: 1px solid green;
  color: green;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 20px;
}

nav #settings {
  padding: 0 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav #settings button:hover {
  color: white;
  background-color: green;
}

nav #settings #dropdown {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #settings #dropdown input {
  height: 2rem;
}

nav #settings #dropdown button {
  height: 2rem;
}

nav #settings #dropdown #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

nav #settings:hover #dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.start {
  grid-column: span 12;
  position: relative;
}

.start::before {
  content: "Press any key to start the game";
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 2rem;
  width: 100vw;
  height: 100%;
  background: #5a7a5a;
  z-index: 5;
}

section {
  grid-column: span 6;
  padding-top: 2rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
  place-items: center;
  color: maroon;
}

section #fill_opt {
  place-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: 350px;
  grid-column: span 4;
}

section #fill_opt button {
  cursor: pointer;
  padding: 5px 20px;
  margin: 5px 0;
  color: maroon;
  font-weight: 800;
  border: 1px solid maroon;
  border-radius: 1rem;
}

section #fill_opt button:hover {
  background-color: maroon;
  color: white;
}

section #board {
  cursor: pointer;
  grid-column: span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1 / span 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (100px)[3];
      grid-template-columns: repeat(3, 100px);
  -ms-grid-rows: (100px)[3];
      grid-template-rows: repeat(3, 100px);
  place-self: end;
  place-content: center;
}

section #board .block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #000;
  border: 2px solid darkred;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 3em;
  color: blue;
  -webkit-box-shadow: 3px 3px 5px black;
          box-shadow: 3px 3px 5px black;
  text-shadow: 2px 2px 4px blue, 2px 2px 4px blue, 2px 2px 4px blue, 2px 2px 4px blue, 2px 2px 4px blue, 2px 2px 4px blue;
}

section #board .selected {
  background: green;
}

section #board .block:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

section#log {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: orange;
}

section#log p {
  color: maroon;
}

section#log button {
  width: 30%;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid green;
  color: green;
  font-size: 1rem;
}

section#log button:hover {
  background-color: green;
  color: white;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: darkblue;
}

.inactive {
  background: gray;
}

@media (max-width: 1000px) {
  section {
    grid-column: span 12;
    place-items: center;
  }
  section #board,
  section #fill_opt {
    place-self: center;
  }
}

@media (max-width: 350px) {
  section #board {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (80px)[3];
        grid-template-columns: repeat(3, 80px);
    -ms-grid-rows: (80px)[3];
        grid-template-rows: repeat(3, 80px);
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=index.css.map */