* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100vw;
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  height: 10vh;
  background-color: #5a7a5a;
}

header {
  grid-column: span 12;
  background-color: lightgreen;
  padding: 1rem;
  color: blueviolet;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 span.red {
  -webkit-animation: 1s linear 0.2s move_right;
          animation: 1s linear 0.2s move_right;
}

header h1 span.blue {
  -webkit-animation: 1s linear 0.2s move_left;
          animation: 1s linear 0.2s move_left;
}

header h1 span.yellow {
  -webkit-animation: 1.6s ease-in 0.2s move_down;
          animation: 1.6s ease-in 0.2s move_down;
}

@-webkit-keyframes move_right {
  from {
    -webkit-transform: translateX(-40vw) rotate(0);
            transform: translateX(-40vw) rotate(0);
  }
  to {
    -webkit-transform: translateX(0vw) rotate(720deg);
            transform: translateX(0vw) rotate(720deg);
  }
}

@keyframes move_right {
  from {
    -webkit-transform: translateX(-40vw) rotate(0);
            transform: translateX(-40vw) rotate(0);
  }
  to {
    -webkit-transform: translateX(0vw) rotate(720deg);
            transform: translateX(0vw) rotate(720deg);
  }
}

@-webkit-keyframes move_left {
  from {
    -webkit-transform: translateX(40vw) rotate(0deg);
            transform: translateX(40vw) rotate(0deg);
  }
  to {
    -webkit-transform: translateX(0vw) rotate(-720deg);
            transform: translateX(0vw) rotate(-720deg);
  }
}

@keyframes move_left {
  from {
    -webkit-transform: translateX(40vw) rotate(0deg);
            transform: translateX(40vw) rotate(0deg);
  }
  to {
    -webkit-transform: translateX(0vw) rotate(-720deg);
            transform: translateX(0vw) rotate(-720deg);
  }
}

@-webkit-keyframes move_down {
  from {
    -webkit-transform: translateY(-40vh);
            transform: translateY(-40vh);
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

@keyframes move_down {
  from {
    -webkit-transform: translateY(-40vh);
            transform: translateY(-40vh);
  }
  to {
    -webkit-transform: translateY(0vh);
            transform: translateY(0vh);
  }
}

nav {
  grid-column: span 12;
  background-color: mediumseagreen;
}

nav #settings {
  padding: 0 0.5rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

nav #settings button {
  border: 1px solid green;
  color: green;
  padding: 0.5rem;
  cursor: pointer;
}

nav #settings button:hover {
  color: white;
  background-color: green;
}

nav #settings #dropdown {
  display: none;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav #settings #dropdown input {
  height: 2rem;
}

nav #settings #dropdown button {
  height: 2rem;
}

nav #settings #dropdown #buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav #settings:hover #dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section {
  -ms-grid-column: 5;
  -ms-grid-column-span: 3;
  grid-column: 5/ span 3;
  margin-top: 2rem;
  height: 70vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  -ms-flex-line-pack: center;
      align-content: center;
}

section #fill_opt {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  grid-row: span 1;
  grid-column: span 3;
  height: 100%;
}

section #fill_opt button {
  height: 2rem;
  color: maroon;
  border: 1px solid maroon;
  border-radius: 1rem;
}

section #fill_opt button:hover {
  background-color: maroon;
  color: white;
}

section #board {
  cursor: pointer;
  grid-column: span 3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/span 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

section #board .block {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  grid-column: span 1;
  grid-row: span 1;
  background-color: darkgoldenrod;
  border: 2px solid darkred;
  display: -ms-grid;
  display: grid;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  font-size: 4rem;
}

section#log {
  -ms-grid-column: 9;
  -ms-grid-column-span: 4;
  grid-column: 9 / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: blue;
}

section#log h1 {
  color: brown;
}

section#log button {
  width: 30%;
  height: 2rem;
  padding: 0.5rem;
  border: 1px solid green;
  color: green;
  font-size: 1rem;
}

section#log button:hover {
  background-color: green;
  color: white;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.blue {
  color: darkblue;
}

@media screen and (max-width: 1000px) {
  section {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
    height: 50vh;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
  section#log {
    -ms-grid-column: 3;
    -ms-grid-column-span: 8;
    grid-column: 3 / span 8;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  section {
    grid-column: span 12;
  }
  section#log {
    grid-column: span 12;
  }
}
/*# sourceMappingURL=index.css.map */