*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 10vh;
}

header{
    grid-column: span 12;
    background-color: rgb(95, 93, 93);
    padding: 1rem;
    color: blueviolet;
    h1{
        // border: 1px solid orange;
        display: flex;
        justify-content: center;
        span.red{
            animation: 1s linear 0.5s move_right;
        }
        span.blue{
            animation : 1s linear 0.5s move_left;
        }
        span.yellow{
            animation : 1.6s ease-in 0.5s move_down;
        }

        @keyframes move_right{
            from{
                transform : translateX(-40vw) rotate(0);
            }

            to{
                transform : translateX(0vw) rotate(720deg);
            }
        }

        @keyframes move_left{
            from{
                transform: translateX(40vw) rotate(0deg);
            }
            to{
                transform: translateX(0vw) rotate(-720deg);
            }
        }

        @keyframes move_down{
            from{
                transform: translateY(-40vh);
            }
            to{
                transform: translateY(0vh);
            }
        }
    }
}

//utilities
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.blue{
    color: blueviolet;
}