*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    height: 10vh;
}

header{
    grid-column: span 12;
    background-color:lightgreen;
    padding: 1rem;
    color: blueviolet;
    h1{
        // border: 1px solid orange;
        display: flex;
        justify-content: center;
        span.red{
            animation: 1s linear 0.5s move_right;
        }
        span.blue{
            animation : 1s linear 0.5s move_left;
        }
        span.yellow{
            animation : 1.6s ease-in 0.5s move_down;
        }

        @keyframes move_right{
            from{
                transform : translateX(-40vw) rotate(0);
            }

            to{
                transform : translateX(0vw) rotate(720deg);
            }
        }

        @keyframes move_left{
            from{
                transform: translateX(40vw) rotate(0deg);
            }
            to{
                transform: translateX(0vw) rotate(-720deg);
            }
        }

        @keyframes move_down{
            from{
                transform: translateY(-40vh);
            }
            to{
                transform: translateY(0vh);
            }
        }
    }
}

nav{
    grid-column: span 12;
    background-color:mediumseagreen;
    #settings{
        padding: 0 0.5rem;
        width: fit-content;
        button{
            border: 1px solid green;
            color: green;
            padding: 0.5rem;
            cursor: pointer;
        }
        button:hover{
            color: white;
            background-color: green;
        }

        #dropdown{
            display: none;
            position: absolute;
            align-items: center;
            input{
                height: 2rem;
            }
            button{
                height: 2rem;
            }
        }
    }
    #settings:hover #dropdown{
        display: flex;
    }
}

section{
    grid-column:  5/ span 3;
    // border: 1px solid black;
    margin-top: 2rem;
    height: 70vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    align-content: center;
    
    #board{
        grid-column: span 3;
        grid-row: span 2;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        
        .block{
            background-color: darkgoldenrod;
            border: 2px solid red;
        }
    }
}
section#log{
    grid-column: 9 / span 4;
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
}

//utilities
.red{
    color: red;
}
.yellow{
    color: yellow;
}
.blue{
    color: darkblue;
}